

/* .img-bg{
  background-image: ;
  width: 100%;
  height:auto;

} */
button{
  width: 85px;
}

.cardW{
  min-width: 5rem;
}

form{
  outline: black solid 1px;
}
img{
 width: inherit;
  height: auto;
}