
@media only screen and (min-width: 600px) {
 
  .img-bg{
    background-image: url("https://image.freepik.com/free-photo/dark-black-brick-wall-has-rough-surface-as-background-image_99266-240.jpg");
    width: 100%;
    height:auto;
  }
  .tall{
    height: 15rem;
  }
}
.san{
  font-family: 'Cinzel', serif;
}
@media only screen and (max-width: 600px){
 
  .hide{
   display: none !important;
 }
 .taller{
   height: 65rem;
 }
}


button{
  width: 85px;
}

.cardW{
  min-width: 5rem;
}

.big{
  height: 5rem;
}
 
.f-big{
  font-size: 300%;
}
img{
 max-width: inherit;
max-height: inherit;
}
.b-l{
  border-left: green solid 10px ;
  max-height: 100px;
}