
@media only screen and (min-width: 600px) {
 
  .img-bg{
    background-image: url("https://image.freepik.com/free-photo/dark-black-brick-wall-has-rough-surface-as-background-image_99266-240.jpg");
    width: 100%;
    height:auto;
  }


}
.san{
  font-family: 'Cinzel', serif;
}
@media only screen and (max-width: 600px){
  .tall{
    height: 35rem;
   }
   .hide{
    display: none !important;
  }
}

button{
  width: 85px;
}

.cardW{
  min-width: 5rem;
}


}
img{
 width: inherit;
  height: auto;
}
.b-l{
  border-left: green solid 10px ;
  max-height: 100px;
}